@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}
.nesolestag-enadenud {
    width: 615px;
    margin: 0 auto;
  }
  
  .kesednsoled:after,
  .kesednsoled:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
  }
  .ico-wrap {
    color: orange;
    width: 48px;
    height: 48px;
    margin: 30px 18px 5px 5px;
    display: block;
    text-align: center;
    font-size: 25px;
    border: 2px solid orange;
    float: left;
    border-radius: 30px;
  }
  .ico-contact {
    line-height: 1.9;
  }
  .meanous-andscoev {
    float: left;
    margin-bottom: 20px;
  }
  .aio-icon-title {
    font-size: 16px;
    color: orange;
    line-height: 1;
    margin-bottom: 8px;
  }
  
  @media (max-width: 767px) {
    .meanous-andscoev,
    .ico-wrap {
    float: none;
    margin:0 50px;
    }
    .ico-wrap {
    margin: 0 50px ;
    }
  }
  .aio-icon-description a{
    text-decoration: none;
    color: black;
  }
  header .kesednsoled{
    max-width: 100%;
  }
  @media(max-width: 767px) {
    .logo{
      float: none;
      display: none;
    }
    .s h2{
      font-size: calc(1rem + 2vw);
    }
  }
  .thert .o{
    text-align: center;
  }
  .logo{
    max-width: 100%;

  }
  #logo{
    width: 110px;
    height: 110px;
  }
  .g{
    display: flex;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
  }
  main .first{
    padding: 20% 5%;
    color: white;
    font-size: 30px;
  }
  main .first p,h1{
    text-align: center;
    z-index: 100px;
  }
  main .first p{
    color: orange;
  }
  main .first h1{
    color: white;
  }
  main{
    max-width: 100%;
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
  }
  .s{
    text-align: center;
    margin: 0 auto;

  }
  main .first h2{
    color: black;
    text-align: center; 
    font-size: calc(1rem + 2vw); 
  }
  .p{
    max-width: 100%;
    width: 50px;
    height: 50px;
  }
  .j{
    width: 100px;
    height: 100px;
    max-width: 100%;
  }
  .thert img{
    max-width: 100%;
    width: 400px;
    height: 250px;
  }
  .thert{
    background-color: white;
  }
  .fore{
    background-color: white;
  }
  .fore p img{
    max-width: 100%;
    margin: 50px 0;
  }
  .rf{
    text-align: center;
  }
  .fore p{
    text-align: center;
  }
  .thert p{
    text-align: center;
  }
  .fife{
    background-color: white;
  }
  .fife .l{
    text-align: center;
    margin-top: 50px ;
  }
  .fife p img{
    max-width: 100%;
  }
  footer{
    background-color: #7B7676;
  }
  .title{
    margin: 40px auto;
    color: orange;
    text-align: center;
  }
  .z{
    max-width: 100%;
    text-align: center;
    margin: 50px 0;
  }
  .s a{
    background-color: orange;
    -webkit-border-radius:60px;
    border-radius: 60px;
    border: none;
    color: blue;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
  }

  @keyframes glowing {
  0%{background-color: yellow;
  box-shadow: 0 0 3px yellow;}
  50%{background-color: rgb(255, 178, 35);
  box-shadow: 0 0 10px rgb(255, 178, 35);}
  100%{background-color: yellow;
  box-shadow: 0 0 3px yellow;}
  }
  .s a{
    animation: glowing 1300ms infinite;
  }
  .w p{
    text-align: center;
  }
  .w{
    background-color: white;
  }
  .w p img{
    max-width: 100%;
  }
  @media screen and (min-widht:500px){
    .w p img{
      width: 100%;
      height:50%;
    }
  }
  @media screen and (max-widht:800px){
    .thert img{
      margin: 50px 40px;
      height: 25%;
    }
  }
  @media screen and (max-widht:800px){
    .thert p{
      margin: 50px 0; 
    }
  }
  @media screen and (min-widht:500px){
    .thert .o{
      text-align: center;
    }
  }
  @media screen and (max-widht:800px){
    .thert{
      display: flex;
    }
  }
  .six{
    background-color: white;
  }


  .fore p{
    text-align: center;
  }
  @media screen and (max-widht:500px){
    p{
      text-align: center;
    }
  }
  .button {

    border-radius: 60px;
    background-color: orange;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer; 
  }
  
  .fg{
    background-color: white;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  




  .nesolestag-enadenud {
    width: 615px;
    margin: 0 auto;
  }
  
  .kesednsoled1:after,
  .kesednsoled1:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    clear: both;
  }
  .ico-wrap1 {
    color: orange;
    width: 48px;
    height: 48px;
    margin: 30px 18px 5px 5px;
    display: block;
    text-align: center;
    font-size: 25px;
    border: 2px solid orange;
    float: left;
    border-radius: 30px;
  }
  .ico-contact {
    line-height: 1.9;
  }
  .meanous-andscoev1 {
    float: left;
    margin-bottom: 20px;
  }
  .aio-icon-title1 {
    font-size: 16px;
    color: orange;
    line-height: 1;
    margin-bottom: 8px;
  }
  p{
    font-size: 13px;
  }
  @media (max-width: 767px) {
    .meanous-andscoev1,
    .ico-wrap1 {
    float: none;
    text-align: center;
    }
    .ico-wrap1 {
    margin: 0 auto 15px auto;
    }
  }
  .aio-icon-description1 a{
    text-decoration: none;
    color: black;
  }
  header .kesednsoled1{
    max-width: 100%;
  }
  @media(max-widht:991px)
  {
    .g{
      padding: 20px 40px;
    }
  }
  .six img{
    max-width: 100%;
    border: 2px solid orange; 
    padding: 15px; 
    background: #666; 
    margin-bottom: 10px;
    transition: 1s;
    margin: 0 10%;
  }
  @media screen and (max-widht:500px)
  {
    .six p{
      text-align: center;
    }
  }
  .six h2{
    text-align: center;
    color: orange;
    margin-bottom: 40px;
    font-size: calc(1rem + 2vw);
  }
  .six p{
    text-align: center;
  }
  @media screen and (min-widht:500px){
    .six img{
      margin: 0 0;
    }
  }
  .six img:hover{
    transform: scale(1.2);
  }
  .meanous-andscoev1{
    margin: 0 5% ;
  }